In [2]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

import matplotlib.pyplot as plt

<ipython-input-2-bb6aff92a59f>:5: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

# Import data

In [3]:
# Import active and resolved csv, filter for dates up to Aug 1 and sort by LTC home then date
active = pd.read_csv('activeltcoutbreak_oct8.csv')
active['Report_Data_Extracted'] = pd.to_datetime(active['ï»¿Report_Data_Extracted'])
active.drop('ï»¿Report_Data_Extracted', axis = 1, inplace = True)
active = active[active.Report_Data_Extracted < '2020-08-01']
active['cleaned_name'] = active['LTC_Home'].str.lower()
active.sort_values(['cleaned_name', 'Report_Data_Extracted'], inplace=True)
active.info()

resolved = pd.read_csv('resolvedltc_oct8.csv')
resolved['Report_Data_Extracted'] = pd.to_datetime(resolved['ï»¿Report_Data_Extracted'])
resolved.drop('ï»¿Report_Data_Extracted', axis = 1, inplace = True)
resolved = resolved[resolved.Report_Data_Extracted < '2020-08-01']
resolved['cleaned_name'] = resolved['LTC_Home'].str.lower()
resolved.sort_values(['cleaned_name', 'Report_Data_Extracted'], inplace=True)
resolved.info()

# active.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8933 entries, 7738 to 8917
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   LTC_Home                   8933 non-null   object
 1   LTC_City                   0 non-null      float64
 2   Beds                       8932 non-null   float64
 3   Total_LTC_Resident_Cases   8933 non-null   object
 4   Total_LTC_Resident_Deaths  8933 non-null   object
 5   Total_LTC_HCW_Cases        8932 non-null   object
 6   Report_Data_Extracted      8933 non-null   datetime64[ns]
 7   cleaned_name               8933 non-null   object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 628.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 19532 entries, 11687 to 18995
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   LTC_Home                   19532 non-null  object
 1   City                       19532 non-null  object
 2   Beds                       19532 non-null  object
 3   Total_LTC_Resident_Deaths  19532 non-null  object
 4   Report_Data_Extracted      19532 non-null  datetime64[ns]
 5   cleaned_name               19532 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 1.0+ MB

In [4]:
# 11 homes present in active and not resolved
a = set(active['cleaned_name']) - set(resolved['cleaned_name'])


# 18 homes present in resolved and not active
b = set(resolved['cleaned_name']) - set(active['cleaned_name'])

print(len(a), len(b))

11 18

In [27]:
almonte = active[active.cleaned_name.str.contains("almonte", na=False)]
# resolved[resolved.cleaned_name.str.contains("hillside", na=False)]

almonte.to_csv("../data_output/almonte.csv", index = False)

## Active outbreaks

In [5]:
# Filter for the earliest date for any given outbreak (separated by at least 1 week)
first = active[(active['Report_Data_Extracted'].shift(1) - active['Report_Data_Extracted'] != '-1 days') & 
               (active['Report_Data_Extracted'].shift(1) - active['Report_Data_Extracted'] != '-2 days') &
               (active['Report_Data_Extracted'].shift(1) - active['Report_Data_Extracted'] != '-3 days') &
               (active['Report_Data_Extracted'].shift(1) - active['Report_Data_Extracted'] != '-4 days') &
               (active['Report_Data_Extracted'].shift(1) - active['Report_Data_Extracted'] != '-5 days') &
               (active['Report_Data_Extracted'].shift(1) - active['Report_Data_Extracted'] != '-6 days')]
first.info()

# Homes with more than one outbreak, 62
first_dup = first[first.duplicated(['LTC_Home'], keep=False)]
first_dup.info()
first_dup['LTC_Home'].nunique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 381 entries, 7738 to 8917
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   LTC_Home                   381 non-null    object
 1   LTC_City                   0 non-null      float64
 2   Beds                       380 non-null    float64
 3   Total_LTC_Resident_Cases   381 non-null    object
 4   Total_LTC_Resident_Deaths  381 non-null    object
 5   Total_LTC_HCW_Cases        381 non-null    object
 6   Report_Data_Extracted      381 non-null    datetime64[ns]
 7   cleaned_name               381 non-null    object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 26.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 128 entries, 0 to 8917
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   LTC_Home                   128 non-null    object
 1   LTC_City                   0 non-null      float64
 2   Beds                       128 non-null    float64
 3   Total_LTC_Resident_Cases   128 non-null    object
 4   Total_LTC_Resident_Deaths  128 non-null    object
 5   Total_LTC_HCW_Cases        128 non-null    object
 6   Report_Data_Extracted      128 non-null    datetime64[ns]
 7   cleaned_name               128 non-null    object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 9.0+ KB

62

In [6]:
# Filter for earliest outbreak for any home (muliple outbreaks not counted separately), 317 homes
first2 = active[active['LTC_Home'].shift(1) != active['LTC_Home']]
first2.info()

# Check that there are the same number of unique home names
active['LTC_Home'].nunique()

# first2_dup = first2[first2.duplicated(['LTC_Home'], keep=False)]
# first2_dup

<class 'pandas.core.frame.DataFrame'>
Int64Index: 317 entries, 7738 to 36
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   LTC_Home                   317 non-null    object
 1   LTC_City                   0 non-null      float64
 2   Beds                       316 non-null    float64
 3   Total_LTC_Resident_Cases   317 non-null    object
 4   Total_LTC_Resident_Deaths  317 non-null    object
 5   Total_LTC_HCW_Cases        317 non-null    object
 6   Report_Data_Extracted      317 non-null    datetime64[ns]
 7   cleaned_name               317 non-null    object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 22.3+ KB

317

## Resolved outbreaks

In [7]:
resolved.info()
resolved['LTC_Home'].nunique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19532 entries, 11687 to 18995
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   LTC_Home                   19532 non-null  object
 1   City                       19532 non-null  object
 2   Beds                       19532 non-null  object
 3   Total_LTC_Resident_Deaths  19532 non-null  object
 4   Report_Data_Extracted      19532 non-null  datetime64[ns]
 5   cleaned_name               19532 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 1.0+ MB

324

In [8]:
# Filter for the earliest date for any given resolved outbreak (separated by at least 1 week)
# first_res = resolved[(resolved['Report_Data_Extracted'].shift(1) - resolved['Report_Data_Extracted'] != '-1 days')]

first_res = resolved[(resolved['Report_Data_Extracted'].shift(1) - resolved['Report_Data_Extracted'] != '-1 days') & 
               (resolved['Report_Data_Extracted'].shift(1) - resolved['Report_Data_Extracted'] != '-2 days') &
               (resolved['Report_Data_Extracted'].shift(1) - resolved['Report_Data_Extracted'] != '-3 days') &
               (resolved['Report_Data_Extracted'].shift(1) - resolved['Report_Data_Extracted'] != '-4 days') &
               (resolved['Report_Data_Extracted'].shift(1) - resolved['Report_Data_Extracted'] != '-5 days') &
               (resolved['Report_Data_Extracted'].shift(1) - resolved['Report_Data_Extracted'] != '-6 days')]

first_res.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 397 entries, 11687 to 4262
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   LTC_Home                   397 non-null    object
 1   City                       397 non-null    object
 2   Beds                       397 non-null    object
 3   Total_LTC_Resident_Deaths  397 non-null    object
 4   Report_Data_Extracted      397 non-null    datetime64[ns]
 5   cleaned_name               397 non-null    object
dtypes: datetime64[ns](1), object(5)
memory usage: 21.7+ KB

In [10]:
# Homes with more than one resolved outbreak, 68
first_res_dup = first_res[first_res.duplicated(['LTC_Home'], keep=False)]
# first_res_dup
first_res_dup.info()
first_res_dup['LTC_Home'].nunique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141 entries, 94 to 10303
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   LTC_Home                   141 non-null    object
 1   City                       141 non-null    object
 2   Beds                       141 non-null    object
 3   Total_LTC_Resident_Deaths  141 non-null    object
 4   Report_Data_Extracted      141 non-null    datetime64[ns]
 5   cleaned_name               141 non-null    object
dtypes: datetime64[ns](1), object(5)
memory usage: 7.7+ KB

68

In [19]:
first_res.columns.values

array(['LTC_Home', 'City', 'Beds', 'Total_LTC_Resident_Deaths',
       'Report_Data_Extracted', 'cleaned_name'], dtype=object)

## Compare homes on the active vs. the resolved lists

In [24]:
# Review 18 homes present in resolved but not active
# All homes but one, Yee Hong Centre - Mississauga, reported a resolved outbreak on Apr 24
df = pd.DataFrame()
for each in b:
    df = df.append(first_res[first_res.cleaned_name.str.contains(each, na=False)], ignore_index = True)

df

,LTC_Home,City,Beds,Total_LTC_Resident_Deaths,Report_Data_Extracted,cleaned_name
0,Spencer House,Orillia,160.0,0,2020-04-24,spencer house
1,Hillside Manor,Stratford,90.0,0,2020-04-24,hillside manor
2,Yee Hong Centre - Mississauga,Mississauga,200.0,0,2020-05-27,yee hong centre - mississauga
3,Wellington Terrace Long-Term Care Home,Fergus,176.0,0,2020-04-24,wellington terrace long-term care home
4,Ehatare Nursing Home,Scarborough,32.0,0,2020-04-24,ehatare nursing home
5,Clarion Nursing Home,Stoney Creek,100.0,0,2020-04-24,clarion nursing home
6,Miramichi Lodge,Pembroke,166.0,0,2020-04-24,miramichi lodge
7,Shalom Manor Long Term Care Home,Grimsby,144.0,0,2020-04-24,shalom manor long term care home
8,Douglas H. Rapelje Lodge,Welland,120.0,0,2020-04-24,douglas h. rapelje lodge
9,Saint Luke's Place,Cambridge,114.0,0,2020-04-24,saint luke's place
10,Sprucedale Care Centre,Strathroy,96.0,0,2020-04-24,sprucedale care centre
11,Hallowell House,Picton,97.0,0,2020-04-24,hallowell house
12,Mount Hope Centre for Long Term Care,London,394.0,0,2020-04-24,mount hope centre for long term care
13,Riverview Manor Nursing Home,Peterborough,124.0,0,2020-04-24,riverview manor nursing home
14,Lakeview Manor,Beaverton,149.0,0,2020-04-24,lakeview manor
15,Allendale,Milton,200.0,0,2020-04-24,allendale
16,St. Andrew's Terrace Long Term Care Community,Cambridge,128.0,0,2020-04-24,st. andrew's terrace long term care community
17,Yee Hong Centre - Markham,Markham,200.0,0,2020-04-24,yee hong centre - markham

In [25]:
# Review 11 homes present in active but not resolved
df = pd.DataFrame()

for each in a: 
    df = df.append(first[first.cleaned_name.str.contains(each, na=False)], ignore_index = True)

df.reset_index()

,index,LTC_Home,LTC_City,Beds,Total_LTC_Resident_Cases,Total_LTC_Resident_Deaths,Total_LTC_HCW_Cases,Report_Data_Extracted,cleaned_name
0,0,The Meadows of Dorchester,NaN,121.0,0.0,0,<5,2020-07-31,the meadows of dorchester
1,1,Nisbet Lodge,NaN,103.0,0.0,0,<5,2020-06-11,nisbet lodge
2,2,Villa Colombo Homes for the Aged,NaN,391.0,0.0,0,<5,2020-04-24,villa colombo homes for the aged
3,3,Carleton Lodge,NaN,161.0,0.0,0,<5,2020-07-27,carleton lodge
4,4,Gateway Haven Long Term Care Home,NaN,100.0,0.0,0,<5,2020-04-24,gateway haven long term care home
5,5,United Mennonite Home,NaN,128.0,0.0,0,<5,2020-06-20,united mennonite home
6,6,Residence Prescott et Russell,NaN,146.0,0.0,0,<5,2020-04-24,residence prescott et russell
7,7,King Nursing Home,NaN,86.0,0.0,0,<5,2020-04-24,king nursing home
8,8,R. H. Lawson Eventide Home,NaN,101.0,<5,0,<5,2020-07-29,r. h. lawson eventide home
9,9,Extendicare Falconbridge,NaN,234.0,0.0,0,<5,2020-07-26,extendicare falconbridge
10,10,Trillium Court,NaN,40.0,0.0,0,0.0,2020-07-30,trillium court

In [13]:
a

{'carleton lodge',
 'extendicare falconbridge',
 'gateway haven long term care home',
 'king nursing home',
 'nisbet lodge',
 'r. h. lawson eventide home',
 'residence prescott et russell',
 'the meadows of dorchester',
 'trillium court',
 'united mennonite home',
 'villa colombo homes for the aged'}

In [ ]:
# Homes having appearing multiple times on the active compared to the resolved list
# There are 62 homes with a history of multiple active outbreaks, 68 homes with a history of multiple resolved outbreaks
ltc_multiactive = set(first_dup['LTC_Home'])
ltc_multires = set(first_res_dup['LTC_Home'])

print(len(ltc_multiactive), len(ltc_multires))

In [ ]:
ltc_multiactive - ltc_multires

In [ ]:
ltc_multires - ltc_multiactive