In [2]:
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

In [3]:
df = pd.read_csv('BCCDC_COVID19_Dashboard_Case_Details.csv')
df.head()

  Reported_Date                 HA Sex Age_Group Classification_Reported
0  2020-01-26    Out of Canada      M   40-49     Lab-diagnosed
1  2020-02-02    Vancouver Coastal  F   50-59     Lab-diagnosed
2  2020-02-05    Out of Canada      F   20-29     Lab-diagnosed
3  2020-02-05    Out of Canada      M   30-39     Lab-diagnosed
4  2020-02-11    Interior           F   30-39     Lab-diagnosed

In [4]:
df2 = df.groupby(['HA']).size().to_frame('count').reset_index()
df2

                  HA  count
0  Fraser             1713
1  Interior           280
2  Northern           69
3  Out of Canada      54
4  Vancouver Coastal  1042
5  Vancouver Island   142

In [5]:
mask = df2['HA'] != 'Out of Canada'
df3 = df2[mask]
df3

                  HA  count
0  Fraser             1713
1  Interior           280
2  Northern           69
4  Vancouver Coastal  1042
5  Vancouver Island   142

In [6]:
df3.to_csv(r'cases_by_HA.csv', index = False)